<h3>What is the right order of two related WORD PHRASES?</h3>

<div class="highlight-box">
<p>In the SENTENCE below there are two highlighted WORD PHRASES that we believe are related. Choose one of the options below that according to you expresses their right order.</p>

<p>Please consider only the capitalized WORD PHRASES (in case one of them appears multiple times in the sentence).</p>
</div>

<p><em><span style="color:#0000CD;">${sentence}</span></em></p>

<p>Which of the following statements is EXPRESSED in the SENTENCE above? (required)</p>

<table border="0" cellpadding="0" cellspacing="4">
	<tbody>
		<tr>
			<td valign="center"><input name="Q1" type="radio" value="Choice1" /></td>
			<td><span class="answertext">${term1} ${relation} ${term2}</span></td>
		</tr>
		<tr>
			<td valign="center"><input name="Q1" type="radio" value="Choice2" /></td>
			<td><span class="answertext">${term2} ${relation} ${term1}</span></td>
		</tr>
		<tr>
			<td valign="center"><input name="Q1" type="radio" value="Choice3" /></td>
			<td><span class="answertext">${relation} is NOT EXPRESSED between the two WORD PHRASES</span></td>
		</tr>
	</tbody>
</table>

<p>&nbsp;</p>

<p>
<style type="text/css"><!--
.highlight-box { border:solid 0px #98BE10; background:#FCF9CE; color:#222222; padding:4px; text-align:left; font-size: smaller;}
-->
</style>
</p>
