.t1 {
  font-weight: bold;
  color: #6666CD;
}

.t2 {
  font-weight: bold;
  color: #CD6666;
}

.cml_row {
  margin: 5px 0 5px 0; 
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.ans .cml_row:nth-child(4), .ans .cml_row:nth-child(6), .ans .cml_row:nth-child(8) {
  margin-bottom:25px;
}

.cml_row label {
  padding:4px;
}

.examples p {
  padding:5px;
  margin-bottom:0px;
  font-style: italic;
}

.examples {
  margin: 10px 0 22px;
}