#
/app/config/database.php
/app/config/config.php
/app/storage/temp/*
/app/storage/temp/crowdflower.csv
/bootstrap/compiled.php
/vendor
/composer.phar
/composer.lock
composer.lock
.DS_Store
Thumbs.db
/.idea
# backwards compatability
/app/lib/crowdwatson/php-mturk-api/config.php
crowd-watson.sublime-project
crowd-watson.sublime-workspace