#
/app/lib/getAPIS/keys.py
/app/config/database.php
/bootstrap/compiled.php
/vendor
.DS_Store
Thumbs.db
/.idea
# backwards compatability
/app/lib/crowdwatson/php-mturk-api/config.php
crowd-watson.sublime-project
crowd-watson.sublime-workspace
/app/lib/Metrics/enum*
/app/lib/getAPIS/*
/app/storage/videostorage/*
composer.lock
