<h1>What's up?</h1>
  <p>The html template should only contain anything within the &lt;form&gt; tags, except submit button. The questionid is in the 'name' attribute of an input field. Parameters are set like this: ${terms.first.text}. You can copy the source of a template (called 'project') from the AMT website to an html file. Note: if you want to include external scripts, call them via https://!
  <select name = 'test'>
	<option value='1'>asdf</option>
	<option value='2'>asdf2</option>
  </select>	
  <p><textarea name='comment' cols='60' rows='3'></textarea></p>