.table-responsive {
	.tablesorter-header {
		border:none !important;
	}

	.tablesorter-filter-row td {
		padding:10px;
	}
}

/*
.table {
	margin-top:-10px;
}

.table .csv {background:#f4f7ff;}
.table .txt {background:#fffaf2;}
.table .xls, .table .xlsx {background:#ffeaea;}
.table .png {background:#eae6f7;}

.table {
	border-collapse: separate;
}

.tab .table td {
	border-top:2px solid #FFF !important;
	border-bottom:1px solid #d6d6d6 !important;
}

.tab tbody td {
	line-height:35px !important;
}

.table th {
	white-space: nowrap;
	cursor:pointer;
	text-decoration: underline;
	border:0 !important;
}

.table .created_on {
	white-space: nowrap;
}

.tablesorter-filter {
	width:100%;
	border:1px solid #cecece;
}
*/