html {
    height: 100%;
}
body {
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color:#e0e0e0;
}

:focus:not(input) {
	outline: 0;
}

.CW_box_style {
	padding:15px;
	margin:5px;
	background:#FFF;
	border:1px solid #cecece;
	box-shadow:0 0 35px #c9c9c9;
}

/*.container {
  -webkit-transform:translatez(0);-webkit-backface-visibility:hidden;-webkit-perspective:1000;
}*/

.container {
	position:relative;
}

.full-container {
	padding:0px 15px;
}

.navbar-static-top {
	margin-bottom:10px;
	border-bottom:2px solid #c6c6c6;
}

.maincolumn .nav {
	margin-bottom:15px;
}

.subnavbar {
	padding:10px;
	height:50px;
	background:#D7D7D7;
	border-bottom:1px solid #EDEDED;
	box-shadow:inset 0px 0px 20px #CDCDCD;
	position:relative;
	z-index:100;

	.btn {
		font-weight:bold;

		&:active, .active {
			border:1px solid #a3a3a3;
		}
	}

	.pageTitle {
		line-height:32px;
		font-weight:bold;
		font-size:120%;
		color:#444444;
		text-align: right;
	}
}

.maincontainer {
	padding:5px;
}

.thumbHeader {
	margin-top:10px;
}

.maincolumn td {
	vertical-align: middle !important;
}

.tablesorter-header-inner {
	cursor:pointer;
	text-decoration: underline;
}

.tablesorter-filter {
	width:100%;
	border:1px solid #cecece;
}

.CW_view {
	.panel-body {
		padding:0px;
	}

	.panel {
		border-color:#eaeaea;
	}

	.tableContent {
		td {
			line-height:22px;
		}
	}
}

.maincolumn tbody td {
	vertical-align: middle !important;
}

.selectionPopover, .relexFiltersPopover {
	max-width:none;
	padding:5;
	margin:0;

	.popover-content {
		margin:8px 6px;
		padding:0;
	}

	.menu_selection {
		width:350px;
	}

	.panel, table {
		margin:0;
	}

	td {
		vertical-align:middle !important;
	}	
}

.documentOptions {
	margin-top:3px;
}

.breadcrumb li.active a {
	color:inherit;
}

hr.message-inner-separator
{
    clear: both;
    margin-top: 10px;
    margin-bottom: 13px;
    border: 0;
    height: 1px;
    background-image: -webkit-linear-gradient(left,rgba(0, 0, 0, 0),rgba(0, 0, 0, 0.15),rgba(0, 0, 0, 0));
    background-image: -moz-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
    background-image: -ms-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
    background-image: -o-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
}

.CW_color_1, .userButton {
	background:#83c19a;
}

.userButton {
	color:#FFF !important;
}

.thumbHeader {
	margin-top:10px;
}

.tab-content {
	min-height:300px;
}

.tab {
	margin-bottom:5px;
}

.table-responsive {
	.tablesorter-header {
		border:none !important;
	}

	.tablesorter-filter-row td {
	}
}

tr.tablesorter-filter-row input.disabled {
    display: none;
}

.relexContent {
	th,
	td:not(.sentence) {
		min-width:40px;
		text-align:center;
	}

	.relexFilters {
		display:none;
		max-width:0px !important;
	}
}

.relexFiltersControls {
	td {
		vertical-align: middle;
	}
}

.relexSubmit {
	display:none;
}

.dropdown-menu {
	text-align:left;
}

.facetedSearchFilters {
/*	.panel-group {
		box-shadow:0 0 15px #e5e5e5;
	}*/

	.panel-group {
		font-weight:bold;
	}

	.panel-heading {
		padding:0 !important; 
	}

	.panel-title a {
		text-transform: uppercase;
		font-size:14px;
		font-weight:bold;
		line-height:45px;
		padding:0px 20px;
		display:block;
		text-decoration: none;
	}

	.nav-pills {
		li {
			margin:2px 0px;
		}

		li a {
			color:#686868;
			background:#f4f4f4;
			border-radius:1px;
			border:1px solid transparent;
		}

		li a:hover, li.active a {
			color:#000;
			background:#feffe5;
			box-shadow:inset 0 0 10px rgba(0,85,90, .1);
			border:1px solid #c9c9c9;

			.badge {
				background:#32767A;
				color:#FFF;
			}
		}

		margin:0 !important;
	}

	.cw_formats {
		.panel-heading {
			color:#FFF;
			background:rgba(0,85,90, 1);
		}
	}

	.cw_domains {
		.panel-heading {
			color:#FFF;
			background:rgba(0,85,90, .8);
		}
	}

	.cw_documentTypes {
		.panel-heading {
			color:#FFF;
			background:rgba(0,85,90, 0.6);
		}
	}

	.cw_generalFilters {
		color:#3a3a3a;

		tr {
			height:40px;
			background:#f4f4f4;
		}

		td {
			padding:5px 10px 5px 20px;
			text-align:left;
			white-space: nowrap;
			font-weight:bold;
		}

		.panel-heading {
			color:#FFF;
			background:rgba(146, 191, 42, 1);
		}

		li {
			height:50px;
			padding:10px;
		}
	}

	.cw_specificFilters {
		.panel-heading {
			color:#FFF;
			background:rgba(178,109,7, 1);
		}

		li a:hover, li.active a {
			color:#000;
			background:rgba(178,109,7, 0.2);
		}

		font-weight:bold;
		font-size:12px;

		td {
			padding-left:10px;
		}
	}
}


.documentTypesNav {
	background-image: -webkit-linear-gradient(top, #FFFFFF 30%, #f2f2f2 100%);
	border-top-left-radius:20px;
	border-top-right-radius:20px;

	a {
		font-weight:bold;
	}

	li a:hover {
		background:#fffff7;
	}
}

.documentTypesTabs {
	.tab-pane {
		thead {

			th {
				cursor:pointer;
				text-align:center;
			}

			td {
				min-width:100px;
			}

			.sorting { background: url('../datatables/sort_both.png') no-repeat center right; padding-right:20px; }
			.sorting_asc { background: url('../datatables/sort_asc.png') no-repeat center right; padding-right:20px; }
			.sorting_desc { background: url('../datatables/sort_desc.png') no-repeat center right; padding-right:20px; }

			input {
				width:100%;
			}
		}

		.table {
			background:#FFF;
		}
	}
}

.tssPopover {
	max-width:none;
	padding:5;
	margin:0;

	.popover-content {
		margin:8px 6px;
		padding:0;
	}

	.menu_selection {
		width:350px;
	}

	.panel, table {
		margin:0;
	}

	td {
		vertical-align:middle !important;
	}	
}

.popover-content {
	table .btn-group {
		min-width:160px;
		width:100%;
		max-width:400px;
		float:right;

/*		a:first-child {
			text-align:left;
			overflow:hidden;

			span {
				display:inline-block;
				max-width:80px;
			}
		}*/
	}

	white-space: nowrap;
}

.cw_pagination {
	min-height:40px;

	.pagination {
		margin:0 !important;
	}
}

.visibleColumns {
	margin-left:10px;
}

.results .thumbnail {
	padding:0;
	margin:0;
}

.featureMatches {

	tr:nth-child(1), tr:nth-child(2), tr:nth-child(3) {
		font-weight:bold;
		font-size:120%;
	}
}

.searchStats {
	line-height:25px;
	font-weight:bold;
}

.results.lukasz {
	font-size:90%;
}

.popover-medium {
	min-width:auto !important;
}

.vbColumns {
	.fa-fw {
		margin-left:-10px;
	}
}

.whiteSpaceNormal {
	white-space: normal !important;
}

.whiteSpaceNoWrap {
	white-space: nowrap !important;
}

.tooltip-inner {
	padding:6px 8px;
	font-weight:bold;
}

.navbar-nav .tooltip-inner {
	padding:10px;
	font-weight:bold;
}

.searchK th, tr {
	text-align:center;
}

li:hover, li.selected {
	.text-muted {
		color:#424242 !important;
	}	
}

.searchResults {
	padding:0;
	margin-bottom:-19px;
}

.ctable-responsive {
width: 100%;
overflow-x: auto;
overflow-y: auto;
-webkit-overflow-scrolling: touch;
-ms-overflow-style: -ms-autohiding-scrollbar;
border-top:1px solid #e0e0e0;

/*transform:rotateX(180deg);
-ms-transform:rotateX(180deg); 
-webkit-transform:rotateX(180deg);

	> * {
		transform:rotateX(180deg);
		-ms-transform:rotateX(180deg); 
		-webkit-transform:rotateX(180deg);		
	} */
}

/*.bootstrap-select {
	float:left !important;
}*/
.includeGraph {
  table {
    margin : auto;
    margin-bottom:70px;

  }
}
#generalBarChart_div {overflow: visible !important;}
.highcharts-container { overflow: visible !important; }

#generalBarChart_div .highcharts-container{
  z-index: 10 !important; /*If you have problems with the label hiding behind some other div or chart play with z-index*/
}

.highcharts-tooltip span {
  width:320px!important;
  max-height:400px!important;
  overflow:visible;
  white-space:normal !important;
  table {
    margin-bottom:0px;
    margin-left:0px;
    margin-right:0px;
    margin-top:0px;
  }
}

.pieDivGraphs .highcharts-tooltip span {
  width:100px!important;
  overflow:auto;
  white-space:normal !important;
  table {
    margin-bottom:0px;
  }
}

.pieDivLarge .highcharts-tooltip span {
  width:200px!important;
}

.tooltip {
    z-index: 2000 !important;
}

.dropdown-menu {
	z-index:9999;
}

.modalFacade {
	margin:-15px -15px 0px -15px;
	padding:0px 10px;
	overflow:hidden;

	.pageHeader {
		float:left;
		margin-left:15px;
		color:#686868;
	}

	.toSearch {
		float:right;
		display:inline-block;
		font-size:30px;
		color:#595959;
		padding:15px 20px 5px 20px;

		* {
			padding:0;
			margin:0;
		}
	}

	.toSearch:hover {
		color:#3f0808;
	}
}

/* tables */
table.tablesorter {
	font-family:arial;
	/*background-color: #CDCDCD;*/
	margin:10px 0pt 15px;
	font-size: 8pt;
	width: 100%;
	text-align: left;
}
table.tablesorter thead tr th, table.tablesorter tfoot tr th {
	/*background-color: #e6EEEE;
	border: 1px solid #FFF;*/
	font-size: 8pt;
	padding: 4px;
}
table.tablesorter thead tr .header {
	background-image: url(../datatables/sort_both.png);
	background-position: right;
	background-repeat: no-repeat;
	text-align: center;
	cursor: pointer;
}
table.tablesorter tbody td {
	color: #3D3D3D;
	padding: 4px;
	background-color: #FFF;
	vertical-align: top;
}
table.tablesorter tbody tr.odd td {
	background-color:#F0F0F6;
}
table.tablesorter thead tr .headerSortUp {
	background-image: url(../datatables/sort_asc.png);
	background-position: right;
}
table.tablesorter thead tr .headerSortDown {
	background-image: url(../datatables/sort_desc.png);
	background-position: right;
}
/*table.tablesorter thead tr .headerSortDown, table.tablesorter thead tr .headerSortUp {
background-color: #8dbdd8;
}*/
.bs-example-modal-lg .modal-lg {
  	width: 85%; 
}

table .list-content-small {
	font-size:12px
}

table .double-title {
	padding: 4px 8px 4px 8px !important;
}
