html {
  height: 100%;
  width: 100%;
  overflow: hidden;
  min-width: 100%;
  min-height: 100%;
}

body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  background: #d6d6d6;
}

.table {
  height:100%;
  display:table;
  width: 100%;
  padding: 0;
}

.child {
	height: 100%; 
	display:table-cell; 
	vertical-align: middle;
}

.form-control {
	margin-bottom:11px;
}

.login, .register {
	border:1px solid #FFF;
	margin:0 auto;
}

.login {
	max-width:300px;
}

.register {
	max-width:500px;
}

.hr-or {
  margin:1px 0px;
  position:relative;
  text-align:center;
  line-height:25px;
  color:#999999;

  &:before {
    content:' ';
    position:absolute;
    top:50%;
    left:0;
    right:0;
    height:1px;
    background:#999999;
    z-index:10;
  }

  &:after {
    content:'or';
    display:inline-block;
    background:#F0F0F0;
    position:relative;
    padding:0px 15px;
    z-index:20;
  }
}