.highlightterm { background-color: #b3de69; border: 1px solid #73be29; }

.passageTitle {
  color: blue;
  font-size: large;
  font-weight: bold;
  text-align:center;
}

.passage {
  font-size: large;
  font-weight: bold;
}

.cml .cml_field .instructions {
  color: #e32636;
}

.eventextractionTitle hr { margin-top: 22px; }
.eventextractionTitle fieldset, #example fieldset { border: 1px solid #737373; padding: 10px; margin: 0px; -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
     border-radius: 5px; }

.eventextraction1 hr { margin-top: 22px; }
.eventextraction1 fieldset, #example fieldset { border: 1px solid #737373; padding: 10px; margin: 0px; -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
     border-radius: 5px; }
.eventextraction1 legend, #example legend { border: 0px; margin: 0px; padding: 0 5px 0 5px; width: auto; font-weight: inherit; font-size: inherit; line-height: inherit; letter-spacing: inherit; }
.passage { text-align:center; }
.eventextraction1 { -moz-user-select: none; -khtml-user-select: none; -webkit-user-select: none; user-select: none;}
.eventextraction1 .passage .word:hover { cursor: pointer; cursor: hand; background-color: rgba(0,0,0,.2); }

.eventextraction2 hr { margin-top: 22px; }
.eventextraction2 fieldset, #example fieldset { border: 1px solid #737373; padding: 10px; margin: 0px; -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
     border-radius: 5px; }
.eventextraction2 legend, #example legend { border: 0px; margin: 0px; padding: 0 5px 0 5px; width: auto; font-weight: inherit; font-size: inherit; line-height: inherit; letter-spacing: inherit; }
.passage { text-align:center; }
.eventextraction2 { -moz-user-select: none; -khtml-user-select: none; -webkit-user-select: none; user-select: none;}
.eventextraction2 .passage .word:hover { cursor: pointer; cursor: hand; background-color: rgba(0,0,0,.2); }

.eventextraction3 hr { margin-top: 22px; }
.eventextraction3 fieldset, #example fieldset { border: 1px solid #737373; padding: 10px; margin: 0px; -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
     border-radius: 5px; }
.eventextraction3 legend, #example legend { border: 0px; margin: 0px; padding: 0 5px 0 5px; width: auto; font-weight: inherit; font-size: inherit; line-height: inherit; letter-spacing: inherit; }
.passage { text-align:center; }
.eventextraction3 { -moz-user-select: none; -khtml-user-select: none; -webkit-user-select: none; user-select: none;}
.eventextraction3 .passage .word:hover { cursor: pointer; cursor: hand; background-color: rgba(0,0,0,.2); }

.eventextraction4 hr { margin-top: 22px; }
.eventextraction4 fieldset, #example fieldset { border: 1px solid #737373; padding: 10px; margin: 0px; -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
     border-radius: 5px; }
.eventextraction4 legend, #example legend { border: 0px; margin: 0px; padding: 0 5px 0 5px; width: auto; font-weight: inherit; font-size: inherit; line-height: inherit; letter-spacing: inherit; }
.passage { text-align:center; }
.eventextraction4 { -moz-user-select: none; -khtml-user-select: none; -webkit-user-select: none; user-select: none;}
.eventextraction4 .passage .word:hover { cursor: pointer; cursor: hand; background-color: rgba(0,0,0,.2); }

.eventextraction5 hr { margin-top: 22px; }
.eventextraction5 fieldset, #example fieldset { border: 1px solid #737373; padding: 10px; margin: 0px; -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
     border-radius: 5px; }
.eventextraction5 legend, #example legend { border: 0px; margin: 0px; padding: 0 5px 0 5px; width: auto; font-weight: inherit; font-size: inherit; line-height: inherit; letter-spacing: inherit; }
.passage { text-align:center; }

.eventextraction5 { -moz-user-select: none; -khtml-user-select: none; -webkit-user-select: none; user-select: none;}
.eventextraction5 .passage .word:hover { cursor: pointer; cursor: hand; background-color: rgba(0,0,0,.2); }


.passage .word { position:relative; display: inline-block; line-height: 32px; z-index: 5; margin: 0px; padding: 4px 6px 5px 6px; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; }
.passage .term { position: relative; z-index: 5; margin: 0px; padding: 6px 0px 7px 0px; }

/* nested annotations are smaller than their parents */
.passage .term .term { padding: 3px 0px 4px 0px; }
.passage .term .term .term { padding: 0px 0px 1px 0px; }

.term .term:first-of-type { margin-left:1px; }
.term .term:last-of-type { margin-right:1px; }

.term .word:first-of-type { margin-left:-1px; }
.term .word:last-of-type { margin-right:-1px; }
.term span:first-of-type .word:first-of-type {margin-left:-3px;}
.term span:last-of-type .word:last-of-type {margin-right:-3px;}
.term span:first-of-type span:first-of-type .word:first-of-type {margin-left:-5px;}
.term span:last-of-type span:last-of-type .word:last-of-type {margin-right:-5px;}

.passage .term .term .term .term { padding: 0px 0px 1px 0px; margin:-1px;}

.term { -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; -webkit-box-shadow: inset 0px 1px 1px #fff, 0 1px 0px 0px #000;
     -moz-box-shadow: inset 0px 1px 1px #fff, 0 1px 0px 0px #000;
     box-shadow: inset 0px 1px 1px #fff, 0 1px 0px 0px #000; }

#example { position: relative; }
#example .exampleRel { text-align:center; font-size:16px; font-weight:bold; letter-spacing: 1px; line-height:14px; }
#example .term { padding-left:4px; padding-right:4px; }

.event { margin-bottom: 0px; width: inherit; }
.event .legend { display: none; }
.event .term { margin: 0 2px 0 2px; line-height:30px; padding: 4px; }

.intensity { margin-bottom: 0px; width: inherit; }
.intensity .legend { display: none; }
.opinion .term { padding: 4px; }
.opinion { margin: 2px 0 2px 0; display:none; }

.posneg { margin-bottom: 0px; width: inherit; }
.posneg .legend { display: none; }

.opinion .term, .cml_field.event, .cml_field.intensity, .cml_field.posneg, .cml_field.remove {
  float: left;
  margin: 0 2px 0 2px;
}

.hidden { display: none; }

// .opinion {display: none; }

.instructions { color: #e32636; }
.remove { margin-left: 10px; }

.highlightWords .instructions { padding-left: 16px; background-image: url("/assets/glyphicons_halflings_085_circle_info_grey.png"); background-repeat: no-repeat; background-position: 0 2px; font-size: 10pt; height: 14px; margin: 10px 0 0 0; }

.event0aterm { background-color: #8dd3c7; border: 1px solid #4D9387; }
.event1aterm { background-color: #ffffb3; border: 1px solid #BFBF73; }
.event2aterm { background-color: #bebada; border: 1px solid #7E7A9A; }
.event3aterm { background-color: #fb8072; border: 1px solid #BB4032; }
.event4aterm { background-color: #80b1d3; border: 1px solid #407193; }
.event5aterm { background-color: #fdb462; border: 1px solid #BD7422; }
.event6aterm { background-color: #b3de69; border: 1px solid #739E29; }
.event7aterm { background-color: #fccde5; border: 1px solid #BC8DA5; }
.event8aterm { background-color: #d9d9d9; border: 1px solid #999999; }
.event9aterm { background-color: #bc80bd; border: 1px solid #7C407D; }

.event0bterm { background-color: #8dd3c7; border: 1px solid #4D9387; }
.event1bterm { background-color: #ffffb3; border: 1px solid #BFBF73; }
.event2bterm { background-color: #bebada; border: 1px solid #7E7A9A; }
.event3bterm { background-color: #fb8072; border: 1px solid #BB4032; }
.event4bterm { background-color: #80b1d3; border: 1px solid #407193; }
.event5bterm { background-color: #fdb462; border: 1px solid #BD7422; }
.event6bterm { background-color: #b3de69; border: 1px solid #739E29; }
.event7bterm { background-color: #fccde5; border: 1px solid #BC8DA5; }
.event8bterm { background-color: #d9d9d9; border: 1px solid #999999; }
.event9bterm { background-color: #bc80bd; border: 1px solid #7C407D; }

.event0cterm { background-color: #8dd3c7; border: 1px solid #4D9387; }
.event1cterm { background-color: #ffffb3; border: 1px solid #BFBF73; }
.event2cterm { background-color: #bebada; border: 1px solid #7E7A9A; }
.event3cterm { background-color: #fb8072; border: 1px solid #BB4032; }
.event4cterm { background-color: #80b1d3; border: 1px solid #407193; }
.event5cterm { background-color: #fdb462; border: 1px solid #BD7422; }
.event6cterm { background-color: #b3de69; border: 1px solid #739E29; }
.event7cterm { background-color: #fccde5; border: 1px solid #BC8DA5; }
.event8cterm { background-color: #d9d9d9; border: 1px solid #999999; }
.event9cterm { background-color: #bc80bd; border: 1px solid #7C407D; }

.event0dterm { background-color: #8dd3c7; border: 1px solid #4D9387; }
.event1dterm { background-color: #ffffb3; border: 1px solid #BFBF73; }
.event2dterm { background-color: #bebada; border: 1px solid #7E7A9A; }
.event3dterm { background-color: #fb8072; border: 1px solid #BB4032; }
.event4dterm { background-color: #80b1d3; border: 1px solid #407193; }
.event5dterm { background-color: #fdb462; border: 1px solid #BD7422; }
.event6dterm { background-color: #b3de69; border: 1px solid #739E29; }
.event7dterm { background-color: #fccde5; border: 1px solid #BC8DA5; }
.event8dterm { background-color: #d9d9d9; border: 1px solid #999999; }
.event9dterm { background-color: #bc80bd; border: 1px solid #7C407D; }

.event0eterm { background-color: #8dd3c7; border: 1px solid #4D9387; }
.event1eterm { background-color: #ffffb3; border: 1px solid #BFBF73; }
.event2eterm { background-color: #bebada; border: 1px solid #7E7A9A; }
.event3eterm { background-color: #fb8072; border: 1px solid #BB4032; }
.event4eterm { background-color: #80b1d3; border: 1px solid #407193; }
.event5eterm { background-color: #fdb462; border: 1px solid #BD7422; }
.event6eterm { background-color: #b3de69; border: 1px solid #739E29; }
.event7eterm { background-color: #fccde5; border: 1px solid #BC8DA5; }
.event8eterm { background-color: #d9d9d9; border: 1px solid #999999; }
.event9eterm { background-color: #bc80bd; border: 1px solid #7C407D; }

.event10term { background-color: #ccebc5; border: 1px solid #8CAB85; }
.event11term { background-color: #ffed6f; border: 1px solid #BFAD2F; }
.event12term { background-color: #a6cee3; border: 1px solid #668EA3; }
.event13term { background-color: #7fc8b4; border: 1px solid #3F8874; }
.event14term { background-color: #b2df8a; border: 1px solid #729F4A; }
.event15term { background-color: #b3a06c; border: 1px solid #73602C; }
.event16term { background-color: #fb9a99; border: 1px solid #BB5A59; }
.event17term { background-color: #e39adc; border: 1px solid #A35A9C; }
.event18term { background-color: #fdbf6f; border: 1px solid #BD7F2F; }
.event19term { background-color: #df7f80; border: 1px solid #9F3F40; }

.event20term { background-color: #cab2d6; border: 1px solid #8A7296; }
.event21term { background-color: #aa8d9a; border: 1px solid #6A4D5A; }
.event22term { background-color: #ffff99; border: 1px solid #BFBF59; }
.event23term { background-color: #b1a9b8; border: 1px solid #716978; }
.event24term { background-color: #fbb4ae; border: 1px solid #BB746E; }
.event25term { background-color: #b3cde3; border: 1px solid #738DA3; }
.event26term { background-color: #ccebc5; border: 1px solid #8CAB85; }
.event27term { background-color: #decbe4; border: 1px solid #9E8BA4; }
.event28term { background-color: #fed9a6; border: 1px solid #BE9966; }
.event29term { background-color: #ffffcc; border: 1px solid #BFBF8C; }

