.word_split1 span:hover {
    background-color:gray;
}                        
.word_split1 {
 color:blue; 
}

.word_split2 span:hover {
    background-color:gray;
}                        
.word_split2 {
 color:blue; 
}

.cml .cml_field .instructions {
  color: #e32636;
}
