<style type="text/css">.senval span:hover { background-color:silver; }
</style>
<h3>Is the PHRASE complete?</h3>

<div class="highlight-box">{{instructions}}
<ul>
	<li>If the term is complete -- select YES, then <span style="color:red">highlight the complete WORD PHRASE in the sentence</span>, and finally <span style="color:red">write a sentence containing the WORD PHRASE, that has minimum 4 words</span>.</li>
	<li>If the term is not complete -- select NO and <span style="color:red">highlight all the words that together with the highlighted WORD(s) form a complete medical TERM</span>.</li>
</ul>
To HIGHLIGHT words in the TEXT:

<ul>
	<li>click on each word in the text that you want to SELECT</li>
	<li>click on the already highlighted word to DE-SELECT it</li>
</ul>
</div>

<p style="color:#0000CD;"><em><span class="senval" id="senval" style="span:hover { background-color:silver; }">{{sentence_formatted}}</span></em></p>

<p>1. In the SENTENCE above, does the WORD PHRASE <span style="color:#0000CD;"><em>{{terms_first_formatted}}</em></span> form a complete medical term?</p>

<p><input id="YES1" name="{uid}_Q1" onclick="complete(1);" type="radio" value="YES" /> YES, <span style="color:#0000CD;"><em>{{terms_first_formatted}}</em></span> expresses a complete medical term<br />
<input id="NO1" name="{uid}_Q1" onclick="incomplete(1);" type="radio" value="NO" /> NO, <span style="color:#0000CD;"><em>{{terms_first_formatted}}</em></span> does NOT express a complete medical term <input id="expl1span" name="{uid}_expl1span" type="hidden" value="" /></p>

<div id="expl1" style="visibility:hidden;">
<p id="expltag1">&nbsp;</p>
<textarea cols="50" id="expltext1" name="{uid}_expltext1" rows="5"></textarea>

<div id="expltag1yesquestiondiv" style="visibility:hidden;">
<p id="expltag1yesquestion">Make a sentence containing {{terms_first_formatted}}.</p>
<textarea cols="50" id="expltext1yesquestion" name="{uid}_expltext1yesquestion" rows="5"></textarea>

<h5><span style="color:#FF0000;">(i) Do not copy and paste words from the input sentence. Make sure your sentence contains the highlighted word phrase and has more than 4 words.</span></h5>
</div>
</div>

<p>2. In the SENTENCE above, does the WORD PHRASE <span style="color:#0000CD;"><em>{{terms_second_formatted}}</em></span> form a complete medical term?</p>

<p><input id="YES" name="{uid}_Q2" onclick="complete(2);" type="radio" value="YES" /> YES, <span style="color:#0000CD;"><em>{{terms_second_formatted}}</em></span> expresses a complete medical term<br />
<input id="NO" name="{uid}_Q2" onclick="incomplete(2);" type="radio" value="NO" /> NO, <span style="color:#0000CD;"><em>{{terms_second_formatted}}</em></span> does NOT express a complete medical term <input id="expl2span" name="{uid}_expl2span" type="hidden" value="" /></p>

<div id="expl2" style="visibility:hidden;">
<p id="expltag2">&nbsp;</p>
<textarea cols="50" id="expltext2" name="{uid}_expltext2" rows="5"></textarea>

<div id="expltag2yesquestiondiv" style="visibility:hidden;">
<p id="expltag2yesquestion">Make a sentence containing {{terms_second_formatted}}.</p>
<textarea cols="50" id="expltext2yesquestion" name="{uid}_expltext2yesquestion" rows="5"></textarea>

<h5><span style="color:#FF0000;">(i) Do not copy and paste words from the input sentence. Make sure your sentence contains the highlighted word phrase and has more than 4 words.</span></h5>
</div>
</div>

<p><span id="term1" style="visibility:hidden;">{{terms_first_formatted}}</span> <span id="term2" style="visibility:hidden;">{{terms_second_formatted}}</span> <script src="https://code.jquery.com/jquery-1.11.0.min.js"></script> <script type="text/javascript">
			
			var answers = 0;
			var colors = new Array("yellow", "greenyellow", "orange");
			
			selectedIds1 = new Array();
			selectedIds2 = new Array();
			
			inputFirstFactor = document.getElementById("expltext1");
			inputSecondFactor = document.getElementById("expltext2");
			
			var t1split;
			var t2split;
			
			var t1id;
			var t2id;
			
			var t1min = -1;
			var t1max = -1;
			var t2min = -1;
			var t2max = -1;
			
			
			function complete(i) {
				if (document.getElementById("expltag" + i).innerHTML == "Highlight the above WORD PHRASE in the sentence:") return;
			
				var x = document.getElementById("expltag" + i);
				x.innerHTML = "Highlight the above WORD PHRASE in the sentence:";
				
				var y = document.getElementById("expltext" + i);
				y.readOnly = true;
				y.value = "";
			
				var z = document.getElementById("expl" + i);
				z.setAttribute("style", "visibility:visible;");
				
				var t = document.getElementById("expltag" + i + "yesquestiondiv");
				t.setAttribute("style", "visibility:visible;");
				
				answers = i;
				
				
				if (i == 1) {
					selectedIds1 = new Array();
					inputFirstFactor.value = "";
				}
				else {
					selectedIds2 = new Array();
					inputSecondFactor.value = "";
				}
				recolor(i);
				

			}
			
			function incomplete(i) {
			if (i == 1) {
					selectedIds1 = new Array();
					inputFirstFactor.value = "";
				}
				else {
					selectedIds2 = new Array();
					inputSecondFactor.value = "";
				}
				loadTerm(i);
				
				var t = document.getElementById("expltag" + i + "yesquestiondiv");
				t.setAttribute("style", "visibility:hidden;");
				
				if (document.getElementById("expltag" + i).innerHTML == "Highlight the complete WORD PHRASE:") return;
			
				var x = document.getElementById("expltag" + i);
				x.innerHTML = "Highlight the complete WORD PHRASE:";
				
				var y = document.getElementById("expltext" + i);
				y.readOnly = true;
				y.value = "";
			
				var z = document.getElementById("expl" + i);
				z.setAttribute("style", "visibility:visible;");
				
				answers = i;
				
				if (i == 1) {
					var selection = updateHighlightedWords(selectedIds1);
					inputFirstFactor.value = selection;
				}
				else {
					var selection = updateHighlightedWords(selectedIds2);
					inputSecondFactor.value = selection;
				}
				
			}
			
			sentence = document.getElementById("senval");

			var spans;
			
			(function($){function injector(t,splitter,klass,after){var a=t.text().split(splitter),inject='';if(a.length){$(a).each(function(i,item){inject+='<span class="'+klass+(i+1)+'">'+item+'</span>'+after});t.empty().append(inject)}}var methods={init:function(){return this.each(function(){injector($(this),'','char','')})},words:function(){return this.each(function(){injector($(this),' ','word',' ')})},lines:function(){return this.each(function(){var r="eefec303079ad17405c889e092e105b0";injector($(this).children("br").replaceWith(r).end(),r,'line','')})}};$.fn.lettering=function(method){if(method&&methods[method]){return methods[method].apply(this,[].slice.call(arguments,1))}else if(method==='letters'||!method){return methods.init.apply(this,[].slice.call(arguments,0))}$.error('Method '+method+' does not exist on jQuery.lettering');return this}})(jQuery);
			   
			Array.prototype.remove = function(x) {
				for(i in this){
					if(this[i].toString() == x.toString()){
						this.splice(i,1)
					}
				}
			}
			  
			
			$(document).ready(function(){
			  $("#senval").lettering('words');
			  
			  /* give ids for each word (position in sentence) */
			  spans = $("#senval").find("span").each(function() {
				var idNumber = $(this).attr("class").slice(4);
				$(this).attr("id", idNumber);
			  });
			  
			  t1split = $("#term1").html().split(" ");
			  t2split = $("#term2").html().split(" ");
			  
			  loadTerm(1);
			  loadTerm(2);
			});
						 
			  sentence.onclick = function( event ) {
				index = answers - 1;
				
				var col1 = colors[0];
				var col2 = colors[1];
				
					if (isNaN(event.target.id) == false) {
						if(event.target.nodeName == "SPAN") {
						  if (answers == 1) {
							
							  if (event.target.style.backgroundColor == col2) {
								selectedIds1.remove(event.target.id);
							   
							
								  selection1 = updateHighlightedWords(selectedIds1);
								  inputFirstFactor.value = selection1;
								 
								  
								  var newcol = "";
								  
								  	if (selectedIds2.indexOf(parseInt(event.target.id)) != -1) {
								  		newcol = col1;
								  	}
								  
								  event.target.style.backgroundColor = newcol;
								/*}
								else {
								  selectedIds1.push(event.target.id);
								}*/
							  }
							  else {
								selectedIds1.push(parseInt(event.target.id));
								
								  event.target.style.backgroundColor = col2;
								  selection1 = updateHighlightedWords(selectedIds1);
								  inputFirstFactor.value = selection1;
								/*}
								else {
								  selectedIds1.remove(parseInt(event.target.id));
								}*/
							  }
							
						
							
						    
						    $("#expl1span").attr("value", selectedIds1.toString());
						    
						    
						  }
						  else {
							
							  if (event.target.style.backgroundColor == col1) {
								selectedIds2.remove(event.target.id);
								
								  var selection2 = updateHighlightedWords(selectedIds2);
								  inputSecondFactor.value = selection2;
								  
								  var newcol = "";
								   
								  	if (selectedIds1.indexOf(parseInt(event.target.id)) != -1) {
								  		newcol = col2;
								  	}
								 
								  event.target.style.backgroundColor = newcol;
								/*}
								else {
								  selectedIds2.push(event.target.id);
								}*/
							  }
							  else {
								selectedIds2.push(parseInt(event.target.id));
								
								  event.target.style.backgroundColor = col1;
								  var selection2 = updateHighlightedWords(selectedIds2);
								  inputSecondFactor.value = selection2;
								/*}
								else {
								  selectedIds2.remove(parseInt(event.target.id));
								}*/
							  }
							  
							  $("#expl2span").attr("value", selectedIds2.toString());
							  
						  }
						}
				  	}
				  
			  }
			  
			function updateHighlightedWords(arrayId) {
			  arrayId.sort(function(a, b) {
				if (isNaN(a) || isNaN(b)) {
				  if (a > b) return 1;
				  else return -1;
				}
				return a - b;
			  });
			  
			  var selection2 = "";
			  for (var i = 0; i < arrayId.length; i ++) {
				var num = parseInt(arrayId[i]);
				var n = num.toString();
				selection2 += document.getElementById(n).innerHTML + " ";
			  }
			  
			  return selection2;
			}

			function checkSpanDifference(arrayId, tmin, tmax) {
			  arrayId.sort(function(a, b) {
				if (isNaN(a) || isNaN(b)) {
				  if (a > b) return 1;
				  else return -1;
				}
				return a - b;
			  });
			  
			  
			  if (tmin > arrayId[0]) return false;
			  if (arrayId[arrayId.length - 1] > tmax) return false;
			  return true;
			}
			
			function recolor(i) {
			  $("#senval").find("span").each(function() {
				var id = $(this).attr("id");
				var newcol = "";
				var othercol;
				if (i == 1) othercol = colors[0];
				else othercol = colors[1];
				
				if (i == 2 && selectedIds1.indexOf(parseInt(id)) != -1) {
					newcol = othercol;
				}
				if (i == 1 && selectedIds2.indexOf(parseInt(id)) != -1) {
					newcol = othercol;
				}
				$(this).css("background-color", newcol);
			  });
			}
			
			function loadTerm(index) {
				
				if (index == 1) {
					var t1id = -1;
					
					$("#senval").find("span").each(function() {
						var id = parseInt($(this).attr("id"));
						if ($(this).html().indexOf(t1split[0]) != -1) {
							
							var found = true;
							for (var i = 0; i < t1split.length; i++) {
								$("#senval").find("span").each(function() {
									var nid = parseInt($(this).attr("id"));
									
									if (nid == id + i && $(this).html().indexOf(t1split[i]) == -1) {
										found = false;
									}
								});
							}
						
							if (found == true) {
								
								t1id = id;
							}
						}
					});
					
					for (var i = 0; i < t1split.length; i++) {
						$("#senval").find("span").each(function() {
							var id = parseInt($(this).attr("id"));
							if (id == t1id + i) {
								$(this).css("background-color", colors[1]);
								selectedIds1.push(id);
							}
						});
					}
					
					
					
					t1min = t1id - 3;
					t1max = t1id + t1split.length + 2;
					$("#expl1span").attr("value", selectedIds1.toString());
				}
				
				else {
					var t2id = -1;
					
					$("#senval").find("span").each(function() {
						var id = parseInt($(this).attr("id"));
						if ($(this).html().indexOf(t2split[0]) != -1) {
							
							var found = true;
							for (var i = 0; i < t2split.length; i++) {
								$("#senval").find("span").each(function() {
									var nid = parseInt($(this).attr("id"));
									
									if (nid == id + i && $(this).html().indexOf(t2split[i]) == -1) {
										found = false;
										
									}
									
								});
							}
							if (found == true) {
								t2id = id;
							}
						}
					});
				
					for (var i = 0; i < t2split.length; i++) {
						$("#senval").find("span").each(function() {
							var id = parseInt($(this).attr("id"));
							if (id == t2id + i) {
								$(this).css("background-color", colors[0]);
								selectedIds2.push(id);
							}
						});
					}
					
					t2min = t2id - 3;
					t2max = t2id + t2split.length + 2;
					$("#expl2span").attr("value", selectedIds2.toString());
				}

			}

		</script></p>