.eventextraction hr { margin-top: 22px; }
.eventextraction fieldset, #example fieldset { border: 1px solid #737373; padding: 10px; margin: 0px; }
.eventextraction legend, #example legend { border: 0px; margin: 0px; padding: 0 5px 0 5px; width: auto; font-weight: inherit; font-size: inherit; line-height: inherit; letter-spacing: inherit; }
.passage { text-align:center; }

.eventextraction { -moz-user-select: none; -khtml-user-select: none; -webkit-user-select: none; user-select: none;}
.eventextraction .passage .word:hover { cursor: pointer; cursor: hand; background-color: #C6C6C6; }

.passage .word { position:relative; display: inline-block; line-height: 24px; z-index: 5; margin: 0px; padding: 4px 4px 5px 4px; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; }
.passage .term { position: relative; z-index: 5; margin: 0px; padding: 6px 0px 7px 0px; }

/* nested annotations are smaller than their parents */
.passage .term .term { padding: 4px 0px 5px 0px; }
.passage .term .term .term { padding: 2px 0px 3px 0px; }
.passage .term .term .term .term { padding: 0px 0px 1px 0px; }

.passage .term, .event .term, #assignment-instructions span { -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; }

#example { position: relative; }
#example .exampleRel { text-align:center; font-size:16px; font-weight:bold; letter-spacing: 1px; line-height:14px; }
#example .term { padding-left:4px; padding-right:4px; }

.event { margin-bottom: 0px; width: inherit; }
.event .legend { display: none; }
.event .term { margin: 0 2px 0 2px; line-height:30px; padding: 4px 4px 5px 4px; }
.hidden { display: none; }

.instructions { color: #e32636; }

.events .instructions { padding-left: 16px; background-image: url("/assets/glyphicons_halflings_085_circle_info_grey.png"); background-repeat: no-repeat; background-position: 0 2px; font-size: 10pt; height: 14px; margin: 10px 0 0 0; }

.remove:hover { color: #CC0000; }
.event .remove { cursor: pointer; cursor: hand; }

.event0term { background-color: #8dd3c7; box-shadow: inset 0px 0px 0px 1px #4d9387; }
.event1term { background-color: #ffffb3; box-shadow: inset 0px 0px 0px 1px #bfbf73; }
.event2term { background-color: #bebada; box-shadow: inset 0px 0px 0px 1px #7e7a9a; }
.event3term { background-color: #fb8072; box-shadow: inset 0px 0px 0px 1px #bb4032; }
.event4term { background-color: #80b1d3; box-shadow: inset 0px 0px 0px 1px #407193; }
.event5term { background-color: #fdb462; box-shadow: inset 0px 0px 0px 1px #bd7422; }
.event6term { background-color: #b3de69; box-shadow: inset 0px 0px 0px 1px #73be29; }
.event7term { background-color: #fccde5; box-shadow: inset 0px 0px 0px 1px #bc8da5; }
.event8term { background-color: #d9d9d9; box-shadow: inset 0px 0px 0px 1px #999999; }
.event9term { background-color: #bc80bd; box-shadow: inset 0px 0px 0px 1px #7c407d; }

.event10term { background-color: #ccebc5; box-shadow: inset 0px 0px 0px 1px #ccebc5; }
.event11term { background-color: #ffed6f; box-shadow: inset 0px 0px 0px 1px #ffed6f; }
.event12term { background-color: #a6cee3; box-shadow: inset 0px 0px 0px 1px #a6cee3; }
.event13term { background-color: #1f78b4; box-shadow: inset 0px 0px 0px 1px #1f78b4; }
.event14term { background-color: #b2df8a; box-shadow: inset 0px 0px 0px 1px #b2df8a; }
.event15term { background-color: #33a02c; box-shadow: inset 0px 0px 0px 1px #33a02c; }
.event16term { background-color: #fb9a99; box-shadow: inset 0px 0px 0px 1px #fb9a99; }
.event17term { background-color: #e31a1c; box-shadow: inset 0px 0px 0px 1px #e31a1c; }
.event18term { background-color: #fdbf6f; box-shadow: inset 0px 0px 0px 1px #fdbf6f; }
.event19term { background-color: #ff7f00; box-shadow: inset 0px 0px 0px 1px #ff7f00; }

.event20term { background-color: #cab2d6; box-shadow: inset 0px 0px 0px 1px #cab2d6; }
.event21term { background-color: #6a3d9a; box-shadow: inset 0px 0px 0px 1px #6a3d9a; }
.event22term { background-color: #ffff99; box-shadow: inset 0px 0px 0px 1px #ffff99; }
.event23term { background-color: #b15928; box-shadow: inset 0px 0px 0px 1px #b15928; }
.event24term { background-color: #fbb4ae; box-shadow: inset 0px 0px 0px 1px #fbb4ae; }
.event25term { background-color: #fbb4ae; box-shadow: inset 0px 0px 0px 1px #b3cde3; }
.event26term { background-color: #ccebc5; box-shadow: inset 0px 0px 0px 1px #ccebc5; }
.event27term { background-color: #decbe4; box-shadow: inset 0px 0px 0px 1px #decbe4; }
.event28term { background-color: #fed9a6; box-shadow: inset 0px 0px 0px 1px #fed9a6; }
.event29term { background-color: #ffffcc; box-shadow: inset 0px 0px 0px 1px #ffffcc; }


