
  <!-- Main column with results -->
   <div class="modal-dialog" ng-controller="workerCtrl" id="messageModal" tabindex="-1" role="dialog" aria-labelledby="messageModal" aria-hidden="true">
    <div class="modal-content">
      <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
              <h3>Send a message</h3>
      </div>
      <div>
        <div class="row leftindent">
          <div class="col-md-3">To:</div>
          <div class="col-md-9"><b>@{{selection}}</b></div> 
        </div>
        <div class="row leftindent">
          <div class="col-md-3">Subject:</div>
          <div class="col-md-9"><input class="messagesubject" type="text" ng-model="message.subject"></div> 
        </div>
        
      </div>
      <div class="modal-body">
        <h4>Message:</h4>
        <div>
          <select class="messageselect" ng-model="message" ng-options="m.title for m in messagetemplates"></select><br>
          <textarea class="messagebox" ng-model="message.content"></textarea>
        </div>
      </div>
      <div class="modal-footer">
          <button class="btn btn-danger" ng-click="modal.close()">Cancel</button>
          <button class="btn btn-primary" ng-click="modal.close()">Send</button>
      </div>
    </div>
  </div>  

