.alignment hr { margin-top: 22px; }
.alignment fieldset, #example fieldset { border: 1px solid #737373; padding: 10px; margin: 0px;  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
     border-radius: 5px; }
.alignment legend, #example legend { border: 0px; margin: 0px; padding: 0 5px 0 5px; width: auto; font-weight: inherit; font-size: inherit; line-height: inherit; letter-spacing: inherit; }
.passage { text-align:center; }

.alignment { -moz-user-select: none; -khtml-user-select: none; -webkit-user-select: none; user-select: none;}
.alignment .passage .word:hover { cursor: pointer; cursor: hand; background-color: #C6C6C6; }

.passage .word { position:relative; display: inline-block; line-height: 28px; z-index: 5; margin: 0px; padding: 4px 4px 5px 4px; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; }
.passage .term { position: relative; z-index: 5; margin: 0 -1px 0 -1px; padding: 6px 0px 7px 0px; }

/* nested annotations are smaller than their parents */
.passage .term .term { padding: 4px 0px 5px 0px; }
.passage .term .term .term { padding: 2px 0px 3px 0px; }
.passage .term .term .term .term { padding: 0px 0px 1px 0px; }

.term { -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; -webkit-box-shadow: inset 0px 1px 1px #fff, 0 1px 0px 0px #000;
     -moz-box-shadow: inset 0px 1px 1px #fff, 0 1px 0px 0px #000;
     box-shadow: inset 0px 1px 1px #fff, 0 1px 0px 0px #000; }

#example { position: relative; }
#example .exampleRel { text-align:center; font-size:16px; font-weight:bold; letter-spacing: 1px; line-height:14px; }
#example .term { padding-left:4px; padding-right:4px; }

.relation { margin-bottom: 0px; width: inherit; }
.relation .legend { display: none; }
.relation .cml_row { margin: 4px 0 4px 0; }
.relation .term { margin: 0 2px 0 2px; line-height:30px; padding: 4px 4px 5px 4px; }
.hidden { display: none; }

.instructions { color: #e32636; }

.relations .instructions { padding-left: 16px; background-image: url("/assets/glyphicons_halflings_085_circle_info_grey.png"); background-repeat: no-repeat; background-position: 0 2px; font-size: 10pt; height: 14px; margin: 10px 0 0 0; }

.remove:hover { color: #CC0000; }
.relation .remove { cursor: pointer; cursor: hand; }

.rel0term { background-color: #8dd3c7; border: 1px solid #4d9387; }
.rel1term { background-color: #ffffb3; border: 1px solid #bfbf73; }
.rel2term { background-color: #bebada; border: 1px solid #7e7a9a; }
.rel3term { background-color: #fb8072; border: 1px solid #bb4032; }
.rel4term { background-color: #80b1d3; border: 1px solid #407193; }
.rel5term { background-color: #fdb462; border: 1px solid #bd7422; }
.rel6term { background-color: #b3de69; border: 1px solid #73be29; }
.rel7term { background-color: #fccde5; border: 1px solid #bc8da5; }
.rel8term { background-color: #d9d9d9; border: 1px solid #999999; }
.rel9term { background-color: #bc80bd; border: 1px solid #7c407d; }

.rel10term { background-color: #ccebc5; border: 1px solid #ccebc5; }
.rel11term { background-color: #ffed6f; border: 1px solid #ffed6f; }
.rel12term { background-color: #a6cee3; border: 1px solid #a6cee3; }
.rel13term { background-color: #1f78b4; border: 1px solid #1f78b4; }
.rel14term { background-color: #b2df8a; border: 1px solid #b2df8a; }
.rel15term { background-color: #33a02c; border: 1px solid #33a02c; }
.rel16term { background-color: #fb9a99; border: 1px solid #fb9a99; }
.rel17term { background-color: #e31a1c; border: 1px solid #e31a1c; }
.rel18term { background-color: #fdbf6f; border: 1px solid #fdbf6f; }
.rel19term { background-color: #ff7f00; border: 1px solid #ff7f00; }

.rel20term { background-color: #cab2d6; border: 1px solid #cab2d6; }
.rel21term { background-color: #6a3d9a; border: 1px solid #6a3d9a; }
.rel22term { background-color: #ffff99; border: 1px solid #ffff99; }
.rel23term { background-color: #b15928; border: 1px solid #b15928; }
.rel24term { background-color: #fbb4ae; border: 1px solid #fbb4ae; }
.rel25term { background-color: #fbb4ae; border: 1px solid #fbb4ae; }
.rel26term { background-color: #ccebc5; border: 1px solid #ccebc5; }
.rel27term { background-color: #decbe4; border: 1px solid #decbe4; }
.rel28term { background-color: #fed9a6; border: 1px solid #fed9a6; }
.rel29term { background-color: #ffffcc; border: 1px solid #ffffcc; }