.panel-nav-bar {
	cursor: pointer;
	padding: 10px;
	margin-bottom: 10px;
}

.panel-nav-bar:hover {
	cursor: pointer;
	background: #efe;
}

.panel-nav-bar-ascending {
	background: #428bca;
}

.panel-nav-bar-descending {
	background: #428bca;
}

.panel-nav-bar-active:hover {
	background: #428bca;
}