#checklist
{
    border: 1px solid darkgrey;
    border-radius: 14px;
    height: 270px;
    padding: 10px 5px;
    min-width: 270px;
}

#checklist_ul
{
    line-height: 30px;
    font-family: Verdana, helvetica, arial, sans-serif;
    font-size: larger;
    list-style: none;
}

#videocontiner
{
    text-align: center;
}

#container_jwplayer
{
    margin: 0 auto;
}

#kfcontainer
{

}

.singlekeyframe
{
    width: 210px;
    float: left;
    padding: 5px 19px;
    height: 142px;
    border: 1px solid lightgrey;
    border-radius: 2px;
    margin: 2px;
    position: relative;
    overflow: hidden;
}

.kftime > pre
{
    display: inline;
    padding: 0;
}

.clearboth
{
    clear: both;
}

.singlekfleft
{
    width: 210px;
    height: 100%;

}
.singlekfright
{
    display: inline;
    width: 400px;
    height: 100%;
    position: absolute;
    top: 0;
    left: 210px;
    max-height: 100%;


}

.clarifaibutton
{
    color: darkblue;
    text-decoration: underline;
    cursor: pointer;
    padding: 0px 2px;


}

.imaggabutton
{
    color: darkblue;
    text-decoration: underline;
    cursor: pointer;
    padding: 0px 2px;


}

.tagcontent
{
    float:left;
    width: 300px;
    height: 200px;
    overflow: scroll;
}

.tagcontent > table{
    width: 100%;

}

.tagcontent > table > tr > td
{
    text-align: left;
}

