#checklist
{
    border: 1px solid darkgrey;
    border-radius: 14px;
    min-height: 270px;
    padding: 10px 5px;
    min-width: 270px;
}

#checklist_ul
{
    line-height: 30px;
    font-family: Verdana, helvetica, arial, sans-serif;
    font-size: larger;
    list-style: none;
}

#videocontiner
{
    text-align: center;
}

#container_jwplayer
{
    margin: 0 auto;
}

#kfcontainer
{

}

.singlekeyframe
{
    width: 210px;
    float: left;
    padding: 5px 19px;
    height: 142px;
    border: 1px solid lightgrey;
    border-radius: 2px;
    margin: 2px;
    position: relative;
    overflow: hidden;
}

.kftime > pre
{
    display: inline;
    padding: 0;
}

.clearboth
{
    clear: both;
}

.singlekfleft
{
    width: 210px;
    /*height: 100%;*/

}
.singlekfright
{
    display: inline;
    width: 400px;
    height: 100%;
    position: absolute;
    top: 0;
    left: 210px;
    max-height: 100%;


}

.clarifaibutton
{
    color: darkblue;
    text-decoration: underline;
    cursor: pointer;
    padding: 0px 2px;


}

.imaggabutton
{
    color: darkblue;
    text-decoration: underline;
    cursor: pointer;
    padding: 0px 2px;


}

.tagcontent
{
    float:left;
    max-width: 300px;
    min-width: 150px;
    height: 200px;
    overflow: scroll;
}

.tagcontent > table{
    max-width: 100%;
    min-width: 50%;
    text-align: left !important;

}

.tagcontent > table > tr
{
    text-align: left !important;
    padding: 0px;
}

.tdtag_prob, .tdtag_tag
{
    text-align: left;
    padding: 0px 3px;
}

.tdtaghead_prob, .tdtaghead_tag
{
    font-weight: bold;
    text-align: left;
}

.vidtooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;

}

 .vidtooltip .vidtooltiptext {
    visibility: hidden;

    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    font-size: smaller;
    /* Position the tooltip */
    position: absolute;
    z-index: 5;
}

.vidtooltip:hover .vidtooltiptext {
    visibility: visible;
}

#textareadesc
{
    display: none;

}

#savedesc, #processdesc
{
    display: none;
}

#textareadescshow
{
    display: none;
    width: 316px;
   /* max-height: 300px;*/
    overflow: visible;
    font-size: medium;
    line-height: normal;
    margin: 15px 0px;
    border: 1px solid lightgray;
    padding: 3px;
}