body {
  padding-top: 55px;
  background:#e0e0e0;
}

:focus:not(input) {
outline: 0;
}

/*.container {
  -webkit-transform:translatez(0);-webkit-backface-visibility:hidden;-webkit-perspective:1000;
}*/

.navbar {
	border-bottom:2px solid #c6c6c6;
}

.container > .row > div {
  padding:10px 10px;
}

.CW_box_style {
	background:#FFF;
	padding:15px 15px 0px 15px;
	border:1px solid #cecece;
	border-radius:4px;
}

.maincolumn .nav {
	margin-bottom:15px;
}

.fa-fw {
	margin-right:5px;
}

.uploadInput {
	background:#fff;
	border:1px solid #e2e2e2;
	box-shadow:0 0 5px #f4f4f4;
}

.uploadHelpText {
	margin:7px 0px -8px 3px;
}

.CW_messages {
	.list-group {
		margin:-15px -16px -16px -16px;
	}

	a {

	}
}

table .btn-group {
	min-width:160px;
	width:100%;
	max-width:400px;
	
	a:first-child {
		text-align:left;
		overflow:hidden;

		span {
			display:inline-block;
			max-width:80px;

		}
	}
}

.tablesorter-header-inner {
	cursor:pointer;
	text-decoration: underline;
}

.tablesorter-filter {
	width:100%;
	border:1px solid #cecece;
}

.CW_view {
	.panel-body {
		padding:0px;
	}

	.panel {
		border-color:#eaeaea;
	}

	.tableContent {
		td {
			line-height:22px;
		}
	}
}

.maincolumn tbody td {
	vertical-align: middle !important;
}

.selectionPopover, .relexFiltersPopover {
	max-width:none;
	padding:5;
	margin:0;

	.popover-content {
		margin:8px 6px;
		padding:0;
	}

	.menu_selection {
		width:350px;
	}

	.panel, table {
		margin:0;
	}

	td {
		vertical-align:middle !important;
	}	
}

.documentOptions {
	margin-top:3px;
}

.breadcrumb li.active a {
	color:inherit;
}

hr.message-inner-separator
{
    clear: both;
    margin-top: 10px;
    margin-bottom: 13px;
    border: 0;
    height: 1px;
    background-image: -webkit-linear-gradient(left,rgba(0, 0, 0, 0),rgba(0, 0, 0, 0.15),rgba(0, 0, 0, 0));
    background-image: -moz-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
    background-image: -ms-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
    background-image: -o-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
}

.CW_color_1, .userButton {
	background:#83c19a;
}

.userButton {
	color:#FFF !important;
}

.thumbHeader {
	margin-top:10px;
}

.tab-content {
	min-height:300px;
}

.tab {
	margin-bottom:5px;
}

.table-responsive {
	.tablesorter-header {
		border:none !important;
	}

	.tablesorter-filter-row td {
	}
}

tr.tablesorter-filter-row input.disabled {
    display: none;
}

.relexContent {
	th,
	td:not(.sentence) {
		min-width:40px;
		text-align:center;
	}

	.relexFilters {
		display:none;
		max-width:0px !important;
	}
}

.relexFiltersControls {
	td {
		vertical-align: middle;
	}
}

.relexSubmit {
	display:none;
}

.dropdown-menu {
	text-align:left;
}

.full-container {
	padding:10px 15px;
}

.facetedSearchFilters {
	li a {
		color:#000;
		background:#F9F9F9;
	}

	.cw_formats {
		color:rgba(83,119,122, 1);

		li.header a, li.header a:hover {
			color:#FFF;
			background:rgba(83,119,122, 1);
		}

		li a:hover, li.active a {
			color:#000;
			background:rgba(83,119,122, 0.15);
		}
	}

	.cw_domains {
		color:rgba(84,36,55, 1);

		li.header a, li.header a:hover {
			color:#FFF;
			background:rgba(84,36,55, 1);
		}

		li a:hover, li.active a {
			color:#000;
			background:rgba(84,36,55, 0.15);
		}
	}

	.cw_documentTypes {
		color:rgba(192,41,66, 1);

		li.header a, li.header a:hover {
			color:#FFF;
			background:rgba(192,41,66, 1);
		}

		li a:hover, li.active a {
			color:#000;
			background:rgba(192,41,66, 0.15);
		}
	}
}


/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 * ColVis styles
 */
div.ColVis {
	float: right;
	margin-bottom: 1em;
}

button.ColVis_Button,
ul.ColVis_collection li {
	position: relative;
	float: left;
	cursor: pointer;
	*cursor: hand;
	font-size: 0.88em;
	color: black !important;
	white-space: nowrap;

	/* Generated by http://www.colorzilla.com/gradient-editor/ */
	background: #ffffff;}

.ColVis_Button:hover,
ul.ColVis_collection li:hover {
	text-decoration: none !important;


	background: #f3f3f3;
}

button.ColVis_Button {
	height: 30px;
	padding: 3px 8px;
}


button.ColVis_Button:active { 
	outline: none;
}


div.ColVis_collectionBackground {
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: 90;
}

ul.ColVis_collection {
	width: 150px;
	padding:1px 0px 0px 0px;
	margin: 0;
	border: 1px solid #ccc;
	background-color: #f3f3f3;
	overflow: hidden;
	z-index: 100;
	border-radius:5px;
}

ul.ColVis_collection li {
	position: relative;
	overflow:hidden;
	height: auto;
	left: 0;
	right: 0;
	padding: 0.5em;

	display: block;
	float: none;
	
	-webkit-box-shadow: 1px 1px 3px #999;
	   -moz-box-shadow: 1px 1px 3px #999;
	    -ms-box-shadow: 1px 1px 3px #999;
	     -o-box-shadow: 1px 1px 3px #999;
	        box-shadow: 1px 1px 3px #999;
}

ul.ColVis_collection li {
	text-align: left;
}

ul.ColVis_collection li.ColVis_Button:hover {
	border: 1px solid #999;
	background-color: #f0f0f0;
}

ul.ColVis_collection li span {
	display: inline-block;
	padding-left: 0.5em;
	cursor: pointer;
}


ul.ColVis_collection li.ColVis_Special {
	border-color: #555;
	background: rgb(237,237,237); /* Old browsers */
	background: -webkit-linear-gradient(top, rgba(237,237,237,1) 0%,rgba(214,214,214,1) 77%,rgba(232,232,232,1) 100%); /* Chrome10+,Safari5.1+ */
	background:    -moz-linear-gradient(top, rgba(237,237,237,1) 0%, rgba(214,214,214,1) 77%, rgba(232,232,232,1) 100%); /* FF3.6+ */
	background:     -ms-linear-gradient(top, rgba(237,237,237,1) 0%,rgba(214,214,214,1) 77%,rgba(232,232,232,1) 100%); /* IE10+ */
	background:      -o-linear-gradient(top, rgba(237,237,237,1) 0%,rgba(214,214,214,1) 77%,rgba(232,232,232,1) 100%); /* Opera 11.10+ */
	background:         linear-gradient(to bottom, rgba(237,237,237,1) 0%,rgba(214,214,214,1) 77%,rgba(232,232,232,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ededed', endColorstr='#e8e8e8',GradientType=0 ); /* IE6-9 */
}

ul.ColVis_collection li.ColVis_Special:hover {
	background: #e2e2e2; /* Old browsers */
	background: -webkit-linear-gradient(top, #d0d0d0 0%,#d5d5d5 89%,#e2e2e2 100%); /* Chrome10+,Safari5.1+ */
	background:    -moz-linear-gradient(top, #d0d0d0 0%,#d5d5d5 89%,#e2e2e2 100%); /* FF3.6+ */
	background:     -ms-linear-gradient(top, #d0d0d0 0%,#d5d5d5 89%,#e2e2e2 100%); /* IE10+ */
	background:      -o-linear-gradient(top, #d0d0d0 0%,#d5d5d5 89%,#e2e2e2 100%); /* Opera 11.10+ */
	background:         linear-gradient(top, #d0d0d0 0%,#d5d5d5 89%,#e2e2e2 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f3f3f3', endColorstr='#e2e2e2',GradientType=0 ); /* IE6-9 */
}


span.ColVis_radio {
	display: inline-block;
	width: 20px;
}

div.ColVis_catcher {
	position: absolute;
	z-index: 1101;
}

.disabled {
	color: #999;
}

.show-ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.documentTypesNav {
	background-image: -webkit-linear-gradient(top, #FFFFFF 30%, #f2f2f2 100%);
	border-top-left-radius:20px;
	border-top-right-radius:20px;

	a {
		font-weight:bold;
	}

	li a:hover {
		background:#fffff7;
	}
}

.documentTypesTabs {
	.tab-pane {
		thead {

			th {
				cursor:pointer;
				text-align:center;
				white-space: nowrap;
			}

			.sorting { background: url('datatables/sort_both.png') no-repeat center right; padding-right:20px; }
			.sorting_asc { background: url('datatables/sort_asc.png') no-repeat center right; padding-right:20px; }
			.sorting_desc { background: url('datatables/sort_desc.png') no-repeat center right; padding-right:20px; }

			input {
				width:100%;
			}
		}
	}
}

/*#relex-structured-sentence_tab {
	tbody td:last-child {
		text-align:center;
	}
}*/

.cw_pagination .pagination {
	margin:0 !important;
	float:right;
}

.visibleColumns {
	margin-left:10px;
}

.results .thumbnail {
	padding:0;
	margin:0;
}

.featureMatches {

	tr:nth-child(1), tr:nth-child(2), tr:nth-child(3) {
		font-weight:bold;
		font-size:120%;
	}
}

.results.lukasz {
	font-size:90%;
}

.popover-medium {
	min-width:auto !important;
}

.vbColumns {
	.fa-fw {
		margin-left:-10px;
	}
}

.whiteSpaceNormal {
	white-space: normal !important;
}

.whiteSpaceNoWrap {
	white-space: nowrap !important;
}

.highlightTermOne {
	background:#ffe0e0;
	font-weight:bold;
	white-space: nowrap;
}

.highlightTermTwo {
	background:#e0edff;
	font-weight:bold;
	white-space: nowrap;
}

.highlightedSearchTerm {
	background:#ffffad;
	font-weight:bold;
}

.highlightRelation {
	background:#bdf9b1;
	font-weight:bold;
}

.highlightSemicolon {
	background:#ff8989;
	font-weight:bold;
}

.navbar-nav .tooltip-inner {
	padding:10px;
	font-weight:bold;
}