body {
  padding-top: 55px;
  background:#e0e0e0;
}

:focus:not(input) {
outline: 0;
}

.container {
  -webkit-transform:translatez(0);-webkit-backface-visibility:hidden;-webkit-perspective:1000;
}

.navbar {
	border-bottom:2px solid #c6c6c6;
}

.container > .row > div {
  padding:10px 10px;
}

.CW_box_style {
	background:#FFF;
	padding:15px 15px 0px 15px;
	border:1px solid #cecece;
	border-radius:4px;
}

.maincolumn .nav {
	margin-bottom:15px;
}

.fa-fw {
	margin-right:5px;
}

.uploadInput {
	background:#fff;
	border:1px solid #e2e2e2;
	box-shadow:0 0 5px #f4f4f4;
}

.uploadHelpText {
	margin:7px 0px -8px 3px;
}

.CW_messages {
	.list-group {
		margin:-15px -16px -16px -16px;
	}

	a {

	}
}

table .btn-group {
	min-width:160px;
	width:100%;
	max-width:400px;
	
	a:first-child {
		text-align:left;
		overflow:hidden;

		span {
			display:inline-block;
			max-width:80px;

		}
	}
}

.tablesorter-header-inner {
	cursor:pointer;
	text-decoration: underline;
}

.tablesorter-filter {
	width:100%;
	border:1px solid #cecece;
}

.CW_view {
	.panel-body {
		padding:0px;
	}

	.panel {
		border-color:#eaeaea;
	}

	.tableContent {
		td {
			line-height:22px;
		}
	}
}

.maincolumn tbody td {
	vertical-align: middle !important;
}

.selectionPopover, .twrexFiltersPopover {
	max-width:none;
	padding:5;
	margin:0;

	.popover-content {
		margin:8px 6px;
		padding:0;
	}

	.menu_selection {
		width:350px;
	}

	.panel, table {
		margin:0;
	}

	td {
		vertical-align:middle !important;
	}	
}

.documentOptions {
	margin-top:3px;
}

.breadcrumb li.active a {
	color:inherit;
}

hr.message-inner-separator
{
    clear: both;
    margin-top: 10px;
    margin-bottom: 13px;
    border: 0;
    height: 1px;
    background-image: -webkit-linear-gradient(left,rgba(0, 0, 0, 0),rgba(0, 0, 0, 0.15),rgba(0, 0, 0, 0));
    background-image: -moz-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
    background-image: -ms-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
    background-image: -o-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
}

.CW_color_1, .userButton {
	background:#83c19a;
}

.userButton {
	color:#FFF !important;
}

.thumbHeader {
	margin-top:10px;
}

.tab-content {
	min-height:300px;
}

.tab {
	margin-bottom:5px;
}

.table-responsive {
	.tablesorter-header {
		border:none !important;
	}

	.tablesorter-filter-row td {
	}
}

tr.tablesorter-filter-row input.disabled {
    display: none;
}

.twrexContent {
	th,
	td:not(.sentence) {
		min-width:40px;
		text-align:center;
	}

	.twrexFilters {
		display:none;
		max-width:0px !important;
	}
}

.twrexFiltersControls {
	td {
		vertical-align: middle;
	}
}

.twrexSubmit {
	display:none;
}

.dropdown-menu {
	text-align:left;
}

.full-container {
	padding: 10px 15px;
	max-width:90%;
	margin: 0 auto;
}

