.panel-nav-bar {
	padding: 10px;
	
}

.panel-nav-bar:hover {
	background: #5cb85c;
}

.panel-nav-bar-active {
	background: #428bca !important;
	color: #FFF;
}

/*The following if or Angular-UI pagination to work succesfully*/
.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }

.bordered {
	border-bottom: solid #AAA 1px;
	height: 100%;
	background: #FFF; 
	padding: 10px;"
}

.checkbox {
	margin-left: -15px;
	width: 25px;
	height: 100%;
	float: left;
	vertical-align: middle;
}

.workerbox {
	width: 100%;
	float: right;
}

.subsript {
	color: grey;
	font-size: 11pt;
	font-style: italic;
}

.workerid {
	font-size: 12pt;
}

.mainContainer {
	border: solid #AAA 1px;
	border-radius: 5px;
	margin-bottom: 40px;
	background: #FFF;

}

.bgwhite {
 	background: #FFF; 
 	padding: 10px;
}

.fat {
	font-size: 14pt;
	font-style: bold;
}

.box-icon {
	text-align: center;
	margin-top: 20px;
}

.wp-from {
	color: grey;
	font-size: 12pt;
	font-style: italic;

}

.wp-created {
	font-size: 10pt;
}

.ann-icon {
	margin-top: 10px; 
	padding-right: 10px;
	margin-left: 8px;
}

.items {
	margin: 5px;
	border: solid #AAA 1px;
	border-radius: 3px;
	margin-bottom: 15px;
	padding: 8px;
}

.anntime {
	margin-top: 10px;
}

.ann-label {
	padding-right: 3px;
}

.nav-buttons {
	margin-top: 25px;
}

.space-left {
	margin-left: 25px;
}

.messagecontent {
	margin-top: 5px;
	width: 90%;
	height: 200px;
	border: solid #AAA 1px;
	border-radius: 2px;
}

.image-box {
	width: 142px;
	height: 182px;
	border: solid 1px #111;
}

.image-selectable {
	position: relative;
	z-index: 1;
	width: 140px;
	height: 140px;
	border-radius: 1px;
}

.image-checkbox {
	width: 20px;
	height: 20px;
	border-right: transparent 1px #aaa;
	border-bottom: transparent 1px #aaa;
	border-bottom-right-radius: 3px;
	position: absolute;
	background-color: #eee;
	text-align: center;
	vertical-align: middle;
}

.overlay {
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background-color:rgba(0, 0, 0, 0.35);
    background: url(data:;base64,iVBORw0KGgoAAAANSUhEUgAAAAIAAAACCAYAAABytg0kAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAgY0hSTQAAeiYAAICEAAD6AAAAgOgAAHUwAADqYAAAOpgAABdwnLpRPAAAABl0RVh0U29mdHdhcmUAUGFpbnQuTkVUIHYzLjUuNUmK/OAAAAATSURBVBhXY2RgYNgHxGAAYuwDAA78AjwwRoQYAAAAAElFTkSuQmCC) repeat scroll transparent\9; /* ie fallback png background image */
    z-index:9999;
    color:white;
    background
}

.image-hover:hover {
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background-color:rgba(0, 0, 0, 0.15);
    background: url(data:;base64,iVBORw0KGgoAAAANSUhEUgAAAAIAAAACCAYAAABytg0kAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAgY0hSTQAAeiYAAICEAAD6AAAAgOgAAHUwAADqYAAAOpgAABdwnLpRPAAAABl0RVh0U29mdHdhcmUAUGFpbnQuTkVUIHYzLjUuNUmK/OAAAAATSURBVBhXY2RgYNgHxGAAYuwDAA78AjwwRoQYAAAAAElFTkSuQmCC) repeat scroll transparent\9; /* ie fallback png background image */
    z-index:9999;
    color:white;
}

.image-metadata {
	background: #eee;
	border-top: #111 solid 1px;
	height: 40px;
}

.loading {
	width: 100%;
	height: 300px;
	position: absolute;
	text-align: center;
	vertical-align: bottom;
}

.loading-img {
	height: 80px;
	width: 100px;
}

.badgecount {
	margin-left: 15px;
}

.annotationbadge {
	margin-top: 10px; 
	margin-left: 25px;
}

.messagebox {
	width: 400px;
	height: 200px;
}
 
.messageselect {
	width: 400px;
}

.leftindent {
	margin-left: 0px;
}

.messageContainer {
	border: solid #AAA 1px;
	border-radius: 5px;
	margin-bottom: 40px;
	background: #FFF;
	width: 480px;
}

.messagesubject {
	width: 275px;
}

.modal {
  display: block;
}

.modal-body:before,
  .modal-body:after {
    display: table;
    content: " ";
}

.modal-header:before,
.modal-header:after {
  display: table;
  content: " ";
}

.modalz {
	z-index: 2
	}